USE [master]
GO
/****** Object:  Database [AIRLINE]    Script Date: 24-Jun-18 12:06:38 PM ******/
CREATE DATABASE [AIRLINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIRLINE', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AIRLINE.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AIRLINE_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AIRLINE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRLINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIRLINE]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [char](10) NOT NULL,
	[GIAVEHANG1] [money] NULL,
	[GIAVEHANG2] [money] NULL,
	[SANBAYDI] [char](10) NULL,
	[SANBAYDEN] [char](10) NULL,
	[NGAY] [date] NULL,
	[GIO] [time](7) NULL,
	[THOIGIANBAY] [int] NULL,
	[HANG1] [int] NULL,
	[HANG2] [int] NULL,
	[HANG1CONLAI] [int] NULL,
	[HANG2CONLAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[THANG] [smallint] NULL,
	[NAM] [smallint] NULL,
	[DOANHTHU] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [char](11) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[CMND] [char](10) NULL,
	[EMAIL] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANGUOIDUNG] [char](10) NOT NULL,
	[TENNGUOIDUNG] [char](20) NULL,
	[MATKHAU] [char](20) NULL,
	[LOAINGUOIDUNG] [bit] NULL,
	[HOTEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYDINH6]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH6](
	[SOLUONGSANBAY] [int] NULL,
	[THOIGIANBAYTOITHIEU] [int] NULL,
	[SOSANBAYTRUNGGIANTOIDA] [int] NULL,
	[THOOIGIANDUNGTOIDA] [int] NULL,
	[THOIGIANDUNGTOITHIEU] [int] NULL,
	[SOLUONGVEHANG1] [int] NULL,
	[SOLUONGVEHANG2] [int] NULL,
	[THOIGIANDATVECHAMNHAT] [int] NULL,
	[THOIGIANHUYDATVE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MASANBAY] [char](10) NOT NULL,
	[TENSANBAY] [nvarchar](30) NULL,
	[TINH] [nvarchar](30) NULL,
	[QUOCGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANBAYTRUNGGIAN]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANBAYTRUNGGIAN](
	[MASANBAY] [char](10) NOT NULL,
	[MACHUYENBAY] [char](10) NOT NULL,
	[THOIGIANDUNG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC,
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VE]    Script Date: 24-Jun-18 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [char](10) NOT NULL,
	[MACHUYENBAY] [char](10) NULL,
	[MAKHACHHANG] [char](10) NULL,
	[HANGVE] [smallint] NULL,
	[GIAVE] [money] NULL,
	[NGAYDATVE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [TENNGUOIDUNG], [MATKHAU], [LOAINGUOIDUNG], [HOTEN]) VALUES (N'AD        ', N'admin               ', N'admin               ', 1, N'Duy')
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([SANBAYDI])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([SANBAYDEN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MASANBAY])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
USE [master]
GO
